In [1]:
import pandas as pd
import json

In [22]:
alimentos = open("Dataset/alimentos.txt", "r").readlines()
alimentos = [alimento.replace("\n", "") for alimento in alimentos]

In [23]:
entrada = pd.read_csv("Dataset/dataset_formatado.csv")
# entrada.index = alimentos
# entrada["id"] = [i for i in range(1, len(alimentos)+1)]

In [26]:
entrada.head()
# entrada = entrada.drop(columns=["Unnamed: 0"])
# entrada.to_csv("Dataset/dataset_formatado.csv", index=False)

In [57]:
produtos = {"bebidas":[], "sucos":[], "frutas":[], "lacteos":[], "carbo1":[], "carbo2":[], "graos":[], "vegetais":[], "proteinas":[]}

In [20]:
produtos["bebidas"] = list(range(1,22))
produtos["sucos"] = list(range(22,33))
produtos["frutas"] = list(range(33,95))
produtos["lacteos"] = list(range(95,114))
produtos["carbo1"] = list(range(114,135))
produtos["carbo2"] = list(range(135,147))
produtos["graos"] = list(range(147,159))
produtos["vegetais"] = list(range(159,200))
produtos["proteinas"] = list(range(200,295))

In [24]:
json.dump(produtos, open("Dataset/produtos.json", "w"), indent=4)

In [5]:
entrada = pd.read_csv("Dataset/dataset_formatado.csv")
entrada.head()

                  Alimento  id   Pt    C   Df  Ca  Mg    Mn  P   Fe  Na   Zn
0          Café,infusão10%   1  0.7  1.5  0.0   3  10  0.04  9  0.0   1  0.0
1  Chá,erva-doce,infusão5%   2  0.0  0.4  0.0   2   1  0.01  1  0.0   1  0.0
2       Chá,mate,infusão5%   3  0.0  0.6  0.0   1   2  0.27  0  0.0   0  0.0
3      Chá,preto,infusão5%   4  0.0  0.6  0.0   0   1  0.09  2  0.0   0  0.0
4              Coco,águade   5  0.0  5.3  0.1  19   5  0.25  4  0.0   2  0.0

In [6]:
taco_json = json.load(open("Dataset/TACO_formatted.json", "r"))
for i in range(0, len(taco_json)):
    taco_json[i]["description2"] = taco_json[i]["description"].replace(" ", "")

In [7]:
alimentos = entrada["Alimento"]
list_kcal = []
list_alim = []
for alimento in alimentos:
    found = False
    for prod in taco_json:
        if prod["description2"] == alimento:
            list_kcal.append(float(prod["energy_kcal"]))
            list_alim.append(prod["description"])
            found = True
            break
    if not found:
        if alimento == "Queijo,requeijão,cremoso":
            list_kcal.append(257)
            list_alim.append("Queijo, requeijão, cremoso")
        elif alimento == "Cerealmatinal,milho,comaçúcar":
            list_kcal.append(377)
            list_alim.append("Cereal matinal, milho, com açúcar")    
        elif alimento == "Palmito,juçara,emconserva":
            list_kcal.append(18)
            list_alim.append("Palmito, juçara, em conserva")
len(list_kcal)
len(list_alim)

294

In [8]:
entrada["kcal"] = list_kcal
entrada["Alimento"] = list_alim

In [9]:
entrada.head(20)

,Alimento,id,Pt,C,Df,Ca,Mg,Mn,P,Fe,Na,Zn,kcal
0,"Café, infusão 10%",1,0.7,1.5,0.0,3,10,0.04,9,0.0,1,0.0,9.070869
1,"Chá, erva-doce, infusão 5%",2,0.0,0.4,0.0,2,1,0.01,1,0.0,1,0.0,1.397060
2,"Chá, mate, infusão 5%",3,0.0,0.6,0.0,1,2,0.27,0,0.0,0,0.0,2.730750
3,"Chá, preto, infusão 5%",4,0.0,0.6,0.0,0,1,0.09,2,0.0,0,0.0,2.247910
4,"Coco, água de",5,0.0,5.3,0.1,19,5,0.25,4,0.0,2,0.0,21.508594
5,"Refrigerante, tipo água tônica",6,0.0,8.0,0.0,1,0,0.00,0,0.0,8,0.0,30.779400
6,"Refrigerante, tipo cola",7,0.0,8.7,0.0,1,0,0.00,17,0.0,7,0.0,33.514200
7,"Refrigerante, tipo guaraná",8,0.0,10.0,0.0,1,0,0.00,0,0.0,9,0.0,38.700000
8,"Refrigerante, tipo laranja",9,0.0,11.8,0.0,2,1,0.00,1,0.0,9,0.0,45.627300
9,"Refrigerante, tipo limão",10,0.0,10.3,0.0,2,1,0.00,0,0.0,9,0.0,39.719100
10,"Bebida láctea, pêssego",11,2.1,7.6,0.3,89,9,0.00,63,0.0,46,0.2,55.164833
11,"Leite, de cabra",12,3.1,5.2,0.0,112,10,0.00,113,0.1,74,0.4,66.415742
12,"Leite, de vaca, achocolatado",13,2.1,14.2,0.6,70,13,0.05,71,0.5,72,0.3,82.820996
13,"Leite, de vaca, desnatado, pó",14,34.7,53.0,0.0,1363,109,0.00,1673,0.9,432,3.8,361.608000
14,"Leite, de vaca, integral, pó",15,25.4,39.2,0.0,890,77,0.00,1242,0.5,323,2.7,496.650300
15,"Leite, fermentado",16,1.9,15.7,0.0,72,6,0.02,63,0.0,33,0.3,69.621474
16,"Bebida láctea, pêssego",17,2.1,7.6,0.3,89,9,0.00,63,0.0,46,0.2,55.164833
17,"Iogurte, natural",18,4.1,1.9,0.0,143,11,0.00,119,0.0,52,0.4,51.489533
18,"Iogurte, natural, desnatado",19,3.8,5.8,0.0,157,12,0.00,110,0.0,60,0.5,41.492711
19,"Iogurte, sabor morango",20,2.7,9.7,0.2,101,8,0.00,73,0.0,38,0.3,69.565600

In [15]:
entrada.to_csv("Dataset/dataset_formatado.csv")